* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  perspective: 1000px;
}

button:focus {
  outline: none;
}

.container {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  transform-style: preserve-3d;
  margin-top: 1rem;
  min-height: 60vh;
  width: 35rem;
  border-radius: 30px;
  padding: 0rem 5rem;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.2), 0 0 50px rgba(0, 0, 0, 0.2);
}

.phone {
  /* background: lightgreen; */
  min-height: 30vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.phone .img {
  height: 35vh;
}
.info h1 {
  font-size: 2rem;
}

.info h3 {
  font-size: 1.5rem;
  /* padding: 0.5rem 0rem; */
  color: #585858;
  font-weight: lighter;
  text-align: center;
}

.colors {
  margin-top: 0.5rem;
  display: flex;
  justify-content: space-evenly;
}

.colors button {
  padding: 0.5rem 1.5rem;
  background: white;
  /* border: none; */
  /* box-shadow: rgba(0, 0, 0, 0.2); */
  border-radius: 30px;
  cursor: pointer;
  font-weight: bold;
  /* color: #585858; */
}

button.active {
  background: #ff6700;
  /* color: white; */
}

.purchase {
  margin-top: 1.5rem;
}

.purchase button {
  width: 100%;
  padding: 1rem 0rem;
  background: #f54642;
  border: none;
  color: white;
  cursor: pointer;
  border-radius: 30px;
  font-weight: bolder;
}

button.white {
  color: white;
  border-color: white;
}

button.black {
  color: black;
}

button.red {
  color: red;
  border-color: red;
}

button.blue {
  color: blue;
  border-color: blue;
}
